<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>[微笑]</string>
		<key>image</key>
		<string>emoji_0</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[撇嘴]</string>
		<key>image</key>
		<string>emoji_1</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[色]</string>
		<key>image</key>
		<string>emoji_2</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[发呆]</string>
		<key>image</key>
		<string>emoji_3</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[得意]</string>
		<key>image</key>
		<string>emoji_4</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[流泪]</string>
		<key>image</key>
		<string>emoji_5</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[害羞]</string>
		<key>image</key>
		<string>emoji_6</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[闭嘴]</string>
		<key>image</key>
		<string>emoji_7</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[睡]</string>
		<key>image</key>
		<string>emoji_8</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[大哭]</string>
		<key>image</key>
		<string>emoji_9</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[尴尬]</string>
		<key>image</key>
		<string>emoji_10</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[发怒]</string>
		<key>image</key>
		<string>emoji_11</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[调皮]</string>
		<key>image</key>
		<string>emoji_12</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[呲牙]</string>
		<key>image</key>
		<string>emoji_13</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[惊讶]</string>
		<key>image</key>
		<string>emoji_14</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[难过]</string>
		<key>image</key>
		<string>emoji_15</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[酷]</string>
		<key>image</key>
		<string>emoji_16</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[冷汗]</string>
		<key>image</key>
		<string>emoji_17</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[晕]</string>
		<key>image</key>
		<string>emoji_18</string>
	</dict>
	<dict>
		<key>text</key>
		<string>[疯了]</string>
		<key>image</key>
		<string>emoji_19</string>
	</dict>
</array>
</plist>
